

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="#">
                   Админ панель
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="#">Creative Tim</a>
                      - coded by <a target="_blank" rel="noopener noreferrer" href="">ЕНУ</a>
          </div>
        </div>
    </footer>
