{% extends "delivery/layouts/base.html" %}

{% block title %} Мои заказы {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        .myorders:hover{
            color: green!important;
        }
        #map {
          height: 400px;
          width: 100%;
        }
       .custom-map-control-button {
          appearance: button;
          background-color: #fff;
          border: 0;
          border-radius: 2px;
          box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
          cursor: pointer;
          margin: 10px;
          padding: 0 0.5em;
          height: 40px;
          font: 400 18px Roboto, Arial, sans-serif;
          overflow: hidden;
        }
        .custom-map-control-button:hover {
          background: #ebebeb;
        }
        #floating-panel {
            width: 200px;
            margin: 10px auto;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
          text-align: center;
          font-family: "Roboto", "sans-serif";
          line-height: 30px;
          padding-left: 10px;
        }
        select{
            padding: 5px 10px;
        }

    </style>
{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title "><a class="myorders" href="{% url 'myorders' %}" style=""><b>Мои заказы</b></a> / Следить</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                  <div class="row">
                      <div class="col-md-4" style="margin-top: 100px;">
                          <h5><b>Данные заказа</b></h5>
                            <hr>
                            <p class="order"><b>Адрес:</b> {{ order.address1 }}, {{ order.address2 }}</p>
                            <p class="order"><b>Номер телефона:</b> {{ order.phone }}</p>
                            <p class="order"><b>Сумма заказа:</b> {{ order.total }} тнг</p>
                            <p class="order"><b>Статус заказа:</b> {{ order.status }}</p>
                            <hr>
                            <h5><b>Клиент</b></h5>
                            <hr>
                            <p class="order"><b>Имя:</b> {{ order.user.name }} {{ order.user.surname }}</p>
                            <p class="order"><b>Контактные данные:</b>  <a href="tel:{{ order.user.phone }}">{{ order.user.phone }}</a></p>
                            <hr>
                          <br>
                          <a href="{% url 'orderfinish' order.id %}"
                             class="btn-lg btn-danger"
                             data-toggle="modal"
                             data-target="#confirmDeleteModal"
                                                           id='deleteButton'>Завершить</a>
                      </div>
                      <div class="col-md-7">
                            <div style="display: none">
                                <p id="lat">{{ order.lat }}</p>
                                <p id="lng">{{ order.lng }}</p>
                            </div>
                          <div id="floating-panel">
                          <b>Выберите тип транспорта: </b>
                          <select id="mode">
                            <option value="WALKING">Пешком</option>
                            <option value="DRIVING">Машина</option>
                            <option value="TRANSIT">Маршрут</option>
                          </select>
                        </div>

                           <div id="map" style="margin: 0">

                           </div>


                  </div>
                  </div>

                    <br>
                      <br>
                    <h5><b>Товары</b></h5>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for l in list %}
                      <tr>
                        <td>{{ l.product.name }}</td>
                        <td>{{ l.price }}</td>
                        <td>{{ l.count }} </td>
                        <td>{{ l.total_price }}тнг</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
     <div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body confirm-delete">
                        Вы завершили поездку?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                id="confirmDeleteButtonModal">Подтвердить
                        </button>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    $(document).on('click', '.confirm-delete', function () {
        $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
        var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
        window.location.href = document.getElementById('deleteButton').href;
    });
</script>
<script>
    let clat = document.getElementById("lat").innerHTML;
    let clng = document.getElementById("lng").innerHTML;
    let infoWindow;
    let mydist = {
        "lat": parseFloat(clat),
        "lng": parseFloat(clng),
    }
    let currentdist = {};
   function initMap() {
      const directionsRenderer = new google.maps.DirectionsRenderer();
      const directionsService = new google.maps.DirectionsService();
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 14,
        center: mydist,
      });
       infoWindow = new google.maps.InfoWindow();
      const locationButton = document.createElement("button");
      locationButton.textContent = "Определить текущее местоположение";
      locationButton.classList.add("custom-map-control-button");
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
      locationButton.addEventListener("click", () => {
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              const pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };
              currentdist = pos;
              infoWindow.setPosition(pos);
              infoWindow.setContent("Я");
              infoWindow.open(map);
              map.setCenter(pos);
            },
            () => {
              handleLocationError(true, infoWindow, map.getCenter());
            }
          );
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      });
      directionsRenderer.setMap(map);
      calculateAndDisplayRoute(directionsService, directionsRenderer);
      document.getElementById("mode").addEventListener("change", () => {
        calculateAndDisplayRoute(directionsService, directionsRenderer);
      });
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    }
    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
      const selectedMode = document.getElementById("mode").value;
      directionsService.route(
        {
          origin: currentdist,
          destination: mydist,
          // Note that Javascript allows us to access the constant
          // using square brackets and a string value as its
          // "property."
          travelMode: google.maps.TravelMode[selectedMode],
        },
        (response, status) => {
          if (status == "OK") {
            directionsRenderer.setDirections(response);
          } else {
            window.alert("Запрос маршрутов не выполнен из-за " + status);
          }
        }
      );
    }
	</script>
     <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq_zq8oIH5flWJZ3Vb0uAjZDxZPTFjdI8&callback=initMap&libraries=&v=weekly"
        async
    ></script>

{% endblock %}