{% extends "delivery/layouts/base.html" %}

{% block title %} Тапсырыстар {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Барлық тапсырыстар</h4>
                  <p class="card-category"> Мұнда жеткізу керек барлық тапсырыстар</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Мекен-жай
                        </th>
                        <th>
                          Телефон нөмірі
                        </th>
                        <th>
                          Тапсырыс бағасы
                        </th>
                        <th>
                          Операциялар
                        </th>
                      </thead>
                      <tbody>
                      {% for l in list %}
                        <tr>
                          <td>
                            {{ l.address1 }}, {{ l.address2 }}
                          </td>
                          <td>
                            {{ l.phone }}
                          </td>
                          <td>
                              {{ l.total }} тнг
                          </td>
                          <td class="text-primary">
                              <a href="{% url 'getorders' l.id %}"
                                                           class="btn btn-danger confirm-delete"
                                                           data-toggle="modal" data-target="#confirmDeleteModal"
                                                           id='deleteButton{{ l.id }}'>Қабылдау</a>
                          </td>
                        </tr>
                      {% endfor  %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body confirm-delete">
                       Осы тапсырысты алғыңыз келетініне сенімдісіз бе?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Бас тарту
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                id="confirmDeleteButtonModal">Растаңыз
                        </button>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    $(document).on('click', '.confirm-delete', function () {
        $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
        var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
        window.location = $("#".concat(caller)).attr("href");
    });
</script>
{% endblock javascripts %}

