{% extends "delivery/layouts/base.html" %}

{% block title %} Жеткізушіні қосу  {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">{{ action }}</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">

                      <form  method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                          <div class="row" style="margin: 0">
                              <div class="col-md-12">
                                  <div class="text" style="color: #ba2121; margin-left: 10px;">{{ message }}</div>
                              </div>
                          </div>
                          <br>
                        <div class="row" style="margin: 0">
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable>Аты</lable>
                        <input type="text" class="form-control" name="name" value="{{ name }}" placeholder="Аты" required>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable>Тегі</lable>
                        <input type="text" class="form-control" name="surname" value="{{ sname }}" placeholder="Тегі" required>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                            <lable>Email</lable>
                            {% if email_2 %}
                                <input type="text" class="form-control" name="email" value="{{ email_2 }}"  disabled placeholder="почта">
                            {% else %}
                                <input type="text" class="form-control" name="email" value="{{ email }}" placeholder="почта" required>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                            <lable>Пароль</lable>
                            <input type="text" class="form-control" name="password" value="" placeholder="пароль" >
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                            <lable>Телефон нөмірі</lable>
                            <input type="text" class="form-control" name="phone" value="{{ phone }}" placeholder="телефон нөмірі" required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 20px">
                       {% if icon %}
                           <img style="height: 60px; width: 60px" src="/media/{{ icon }}" alt="">
                            <input type="file" name="icon" >
                        {% else %}
                            <lable>Фотография</lable>
                            <input type="file" name="icon" required >
                        {% endif %}
                    </div>
                        </div>

                    <div style="position: relative;">
                        <input class="btn btn-danger" type="submit" value="Сақтау" style="position: absolute; right: 50px;">
                     </div>
                          <br>
                          <br>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
