{% extends "delivery/layouts/base.html" %}

{% block title %} Өнімдерді қосу  {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">{{ action }}</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="row" style="margin: 0">
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable>Аты</lable>
                        <input type="text" class="form-control" name="name" value="{{ product.name }}" placeholder="Название" required>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable>Бағасы</lable>
                        <input type="number" class="form-control" name="price" value="{{ product.price }}" placeholder="цена" required>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <lable>Категория</lable>
                        <select class="form-control" name="category" id="">
                            {% for l in categories %}
                                <option value="{{ l.id }}" {% if product.category_id == l.id %} selected {% endif %}>{{ l.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <lable>Статус</lable>
                        <select class="form-control" name="status" id="">
                            {% for l in statuses %}
                                <option value="{{ l.id }}" {% if product.status_id == l.id %} selected {% endif %}>{{ l.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12" style="padding-left: 0;padding-top: 30px; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable>Сипаттама</lable>
                            <textarea  class="form-control" name="description" value="" rows="5" placeholder="Описание" required>{{ product.description }}</textarea>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 20px">
                       {% if product.img1 %}
                           <img style="height: 60px; width: 60px" src="/media/{{ product.img1 }}" alt="">
                            <input type="file" name="img1" >
                        {% else %}
                            <lable>Фотография</lable>
                            <input type="file" name="img1" required >
                        {% endif %}
                    </div>
                    <div class="col-md-3" style="padding: 20px">
                        {% if product.img2 %}
                           <img style="height: 60px; width: 60px" src="/media/{{ product.img2 }}" alt="">
                            <input type="file" name="img2" >
                        {% else %}
                            <lable>Фотография</lable>
                            <input type="file" name="img2" required >
                        {% endif %}
                    </div>
                    <div class="col-md-3" style="padding: 20px">
                        {% if product.img3 %}
                           <img style="height: 60px; width: 60px" src="/media/{{ product.img3 }}" alt="">
                            <input type="file" name="img3" >
                        {% else %}
                            <lable>Фотография</lable>
                            <input type="file" name="img3" required >
                        {% endif %}
                    </div>
                    <div class="col-md-3" style="padding: 20px">
                        {% if product.img4 %}
                           <img style="height: 60px; width: 60px" src="/media/{{ product.img4 }}" alt="">
                            <input type="file" name="img4" >
                        {% else %}
                            <lable>Фотография</lable>
                            <input type="file" name="img4" required >
                        {% endif %}
                    </div>
                    <div class="col-md-3" style="padding: 20px">
                        {% if product.img5 %}
                           <img style="height: 60px; width: 60px" src="/media/{{ product.img5 }}" alt="">
                            <input type="file" name="img5" >
                        {% else %}
                            <lable>Фотография</lable>
                            <input type="file" name="img5" required >
                        {% endif %}
                    </div>
                  </div>
                  <div style="position: relative;">
                        <input class="btn btn-danger" type="submit" value="Сақтау" style="position: absolute; right: 50px;">
                  </div>
                          <br>
                          <br>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
