{% extends "delivery/layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        <a class="btn" href="{% url 'add_deliveries' %}">Добавить доставщика</a>
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Мои Продукты</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ФИО
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Номер
                        </th>
                         <th>
                          Фото
                        </th>
                      </thead>
                      <tbody>
                      {% for l in list %}
                        <tr>
                          <td>
                            {{ l.name }} {{ l.surname }}
                          </td>
                          <td>
                            {{ l.email }}
                          </td>
                          <td>
                              {{ l.phone }}
                          </td>
                         <td class="text-primary" style="
                                    {% if 'Завершен' in l.status.name %}
                                        background-color: #cceb6d;
                                        text-align: center;
                                    {% endif %}">
                              <img style="height: 35px; width: 45px;" src="/media/{{ l.img5 }}" alt="">
                          </td>
                        </tr>
                      {% endfor  %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
