{% extends "delivery/layouts/base.html" %}

{% block title %} Деректер жаңарту  {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">{{ action }}</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="row" style="margin: 0">
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable>Email</lable>
                        <input type="text" class="form-control" name="name" value="{{ user.email }}" placeholder="Email" disabled required>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable>Аты-жөні</lable>
                        <input type="text" class="form-control" name="name" value="{{ user.name }}" placeholder="Аты-жөні" required>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                            <lable>Тегі</lable>
                            <input type="text" class="form-control" name="surname" value="{{ user.surname }}" placeholder="Тегі" required>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left: 0; padding-bottom: 30px ">
                        <div class="col-md-4">
                        <lable> Телефон нөмірі</lable>
                        <input type="text" class="form-control" name="phone" value="{{ user.phone }}" placeholder="Телефон нөмірі" required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 20px">
                       {% if user.icon %}
                           <img style="height: 60px; width: 60px" src="/media/{{ user.icon }}" alt="">
                            <input type="file" name="icon" >
                        {% else %}
                            <lable>Фотография</lable>
                            <input type="file" name="icon" required >
                        {% endif %}
                    </div>
                  </div>
                  <div style="position: relative;">
                        <input class="btn btn-danger" type="submit" value="Сақтау" style="position: absolute; right: 50px;">
                  </div>
                          <br>
                          <br>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
